<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobposting.jobpostingapp.mapper.AddressMapper">
    <insert id="insertAddress" parameterType="com.jobposting.jobpostingapp.model.Address" useGeneratedKeys="true"
        keyProperty="addressId" keyColumn="address_id">
        INSERT INTO addresses (
        user_id,
        country,
        city,
        region,
        house,
        street_one,
        street_two,
        zip,
        type,
        is_primary,
        status
        ) VALUES(
        #{userId},
        #{country},
        #{city},
        #{region},
        #{house},
        #{streetOne},
        #{streetTwo},
        #{zip},
        #{type},
        #{isPrimary},
        #{status}
       )
    </insert>
</mapper>